* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#commentInput{
    resize: none;
    width: 400px;
    height: 150px;
    box-shadow: 5px 5px;
  
}
#commentButton{
    margin: 20px;
    width: 300px;
    height: 50px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #df03fc;
    box-shadow: 5px 5px;
    cursor: pointer;
    
}
img{
    width: 60px;
    height: 60px;
}
.commentForm {
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#commentList{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px ;
    border:2px solid black;
}
.delete_button{
    margin: 20px;
    width: 100px;
    height: 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color:red;
    box-shadow: 5px 5px;
    cursor: pointer;
}